/*
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/


@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/*
là un peu verte au milieu: #436871
la bleu en bas: #4C5B77
*/
:root {
    /*https://colorhunt.co/palette/eff7d3cedcc3a7b99e535a3b*/
    --couleur1: #E2DCC8;
    --couleur2: #0F3D3E;
    --couleur3: #100F0F;
    --couleur4: #F1F1F1;
    --font1: 'Nanum Myeongjo', serif;
}

body,
html {
    margin: 0;
    width: 100%;
}

html {
    background-color: var(--couleur2);
}

.aPropos {
    background-color: var(--couleur2);
}



/*********************
**********************
*********************/

#navBarPerso.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: static;
    
}

#navBarPerso a {
    font-family: var(--font1);
    background-color: var(--couleur2);
    color: var(--couleur1) !important;
    text-transform: uppercase;
    font-weight: 900 !important;
    display: flex;
    align-items: center;
    font-size: clamp(1em, 1em, 1em);
}

#navBarPerso a::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    width: 100px;
    background-color: var(--couleur1);
}



/*********************
**********************
*********************/


p {
    text-align: center;
    font-size: 1.25em;
    color: var(--couleur1);
    
}

.row{
    
    text-align: center;
    margin-bottom: 1em;
}

h4 {
    color: var(--couleur1) !important;
    text-transform: uppercase;
    font-weight: 550 !important;
    text-align: center;
}

/* .testTexte {
    z-index: -1;
}

.test:hover .testTexte {
    z-index: 0;
}

.testTitre {
    z-index: 0;
}

.test:hover .testTitre {
    z-index: -1;
}
*/

.card{
    background-color: var(--couleur2) !important;
    border: 2px solid var(--couleur1) !important;
}

.test1, .test2 {
    position: absolute!important;
    width: 100%!important;
    height: 100%!important;
    -webkit-backface-visibility: hidden!important;
    backface-visibility: hidden!important;
}

.test1{
    
    z-index: 1;
}

.test2{
    z-index: 2;
}

.test:hover .testBis {
    transform: rotateY(180deg)!important;
}

.testBis {
    position: relative;
}