/*
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/

/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
'Josefin Slab', serif; */

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


:root {
    /*https://colorhunt.co/palette/eff7d3cedcc3a7b99e535a3b*/
    --couleur1: #E2DCC8;
    --couleur2: #4C5B77;
    --couleur3: #100F0F;
    --couleur4: #F1F1F1;
    --font1: 'Cormorant', serif;
    --font2: 'Merriweather', serif;
                                                
}

.accueil {
    background-color: var(--couleur1);
}



/*********************
**********************
*********************/

#navBarPerso.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: fixed;
}

#navBarPerso a {
    font-family: var(--font1);
    background-color: var(--couleur1);
    color: var(--couleur2) !important;
    text-transform: uppercase;
    font-weight: 900 !important;
    display: flex;
    align-items: center;
    font-size: clamp(1em, 1em, 1em);
}

#navBarPerso a::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    width: 100px;
    background-color: var(--couleur2);
}



/*********************
**********************
*********************/

.container-txt {
    color: var(--couleur2) !important;
}

/*https://www.w3docs.com/tools/code-editor/9940*/
.txt-left-line:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 0;
    border-left: 2px solid var(--couleur2);
}

.txt-bottom-line:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 50%;
    border-bottom: 2px solid var(--couleur2);
}

.container-txt h4 {
    color: var(--couleur2) !important;
    text-transform: uppercase;
    font-weight: 550 !important;
    font-family: var(--font2);
}

.container-txt p {
    font-family: var(--font2);
}

.container-lien h1 a {
    color: var(--couleur2) !important;
    text-transform: uppercase;
    padding-left: 0;
}

.container-lien h1 a:hover {
    color: var(--couleur2) !important;
    font-style: italic;
}

.container-lien h1 {
    font-family: var(--font1);
}

@media (width < 768px) {
    .container-txt {
        margin: 1em;
    }

    .container-lien h1 {
        font-size: 12vw;
        /* font-size: clamp(3.5em, 3.5em, 5em); */
    }

    .container-txt h4 {
        font-size: 1.25rem;
    }

    .container-txt p {
        font-size: 0.7em;
    }
}

@media (width >=768px) {
    .container-txt {
        bottom: -8em;
    }

    .container-lien h1 {
        font-size: 8vw;
        /* font-size: clamp(4em, 4.5em, 5em); */
    }

    .container-txt h4 {
        font-size: 3.8vh;
    }

    .container-txt p {
        font-size: 2.5vh;
    }
}

@media (width >=992px) {
    .container-txt {
        bottom: -3.5em;
    }

    .container-lien h1 {
        font-size: 15vh;
        /*font-size: clamp(6em, 7em, 9em);*/
    }

    .container-txt h4 {
        font-size: 4vh;
    }

    .container-txt p {
        font-size: 2.7vh;
    }
}

@media (width >=1200px) {
    .container-txt {
        bottom: -3.5em;
    }

    .container-lien h1 {
        font-size: 9.9em;
        /*font-size: clamp(6em, 7em, 9em);*/
    }

    .container-txt h4 {
        font-size: 1.5em;
    }

    .container-txt p {
        font-size: 1em;
    }
}