/*
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/


@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


:root {
    /*https://colorhunt.co/palette/eff7d3cedcc3a7b99e535a3b*/
    --couleur1: #E2DCC8;
    --couleur2: #0F3D3E;
    --couleur3: #100F0F;
    --couleur4: #F1F1F1;
    --font1: 'Nanum Myeongjo', serif;
}

body,
html {
    margin: 0;
    width: 100%;
}

html {
    background-color: var(--couleur2);
}

.projets {
    background-color: var(--couleur2);
}



/*********************
**********************
*********************/

#navBarPerso.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: fixed;
}

#navBarPerso a {
    font-family: var(--font1);
    background-color: var(--couleur2);
    color: var(--couleur1) !important;
    text-transform: uppercase;
    font-weight: 900 !important;
    display: flex;
    align-items: center;
    font-size: clamp(1em, 1em, 1em);
}

#navBarPerso a::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    width: 100px;
    background-color: var(--couleur1);
}



/*********************
**********************
*********************/

.container-txt {
    color: var(--couleur1) !important;
}

/*https://www.w3docs.com/tools/code-editor/9940*/
.txt-left-line:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 0;
    border-left: 2px solid var(--couleur1);
}

.txt-bottom-line:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 50%;
    border-bottom: 2px solid var(--couleur1);
}

.container-txt h4 {
    color: var(--couleur1) !important;
    text-transform: uppercase;
    font-weight: 550 !important;
}

.container-projet a h1 {
    font-family: var(--font1);
    color: var(--couleur1) !important;
    text-transform: uppercase;
    font-weight: 550 !important;
    padding-left: 0;
    margin-bottom: 0;
}

.container-projet a h1:hover {
    color: var(--couleur1) !important;
    font-style: italic;
}

.container-projet p {
    font-family: var(--font1);
    color: var(--couleur1) !important;
    padding-left: 1em;
    margin-bottom: 0;
}

@media (width < 768px) {
    .container-txt {
        margin: 1em;
    }

    .container-txt h4 {
        font-size: 7vw;
    }

    .container-txt p {
        font-size: 2.5vw;
    }

    .container-projet h1 {
        font-size: 6vw;
        /* font-size: clamp(3.5em, 3.5em, 5em); */
    }

    .container-projet p {
        font-size: 2vw;
    }
}

@media (width >=768px) {
    /*.container-txt {
        bottom: -5em;
    }*/

    .container-projet h1 {
        font-size: 7vw;
        /* font-size: clamp(4em, 4.5em, 5em); */
    }

    .container-projet p {
        font-size: 1.5vw;
    }
}

@media (width >=992px) {
    .container-txt {
        bottom: -3.5em;
    }

    .container-projet h1 {
        font-size: 3vw;
        /*font-size: clamp(6em, 7em, 9em);*/
    }

    .container-projet p {
        font-size: 1.5vw;
    }
}